<div fxFlex fxLayout="column" class="content-home">
  <div fxLayout="row wrap">
    <div fxFlex fxLayout="column" fxLayoutAlign="center center">
      <img src="assets/img/banner2.jpg" alt="bannerImg" class="img-banner">
      <div class="title-page">
        <p>Welcome</p>
        <br>
        <br>
        <p>Enjoy madness..</p>
      </div>
    </div>
  </div>
  <div fxLayout="row wrap">
    <div fxFlex fxLayout="column" fxLayoutAlign="center center" class="videoplayer">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?list=PLQl8zBB7bPvL6GycjAtAibVp6FsLWvMcY"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
