<img src="../../../assets/img/wallPaper.jpg" alt="background" class="img-background">
<div fxFlex fxLayout="column" class="container-detail">
  <div fxLayout="row wrap">
    <div fxFlex="40" fxLayout="column" fxLayoutAlign="center center">
      <img src="{{ImgPicture}}" alt="imageCharacter" class="img-detail">
    </div>
    <div fxFlex="50" fxLayout="column" class="data-content">
      <div fxLayout="row wrap">
        <div fxFlex fxLayout="column">
          <p>Name : {{name}}</p>
        </div>
      </div>
      <div fxLayout="row wrap">
        <div fxFlex fxLayout="column">
          <p>Species : {{species}}</p>
        </div>
      </div>
      <div fxLayout="row wrap">
        <div fxFlex fxLayout="column">
          <p>Gender : {{gender}}</p>
        </div>
      </div>
      <div fxLayout="row wrap">
        <div fxFlex fxLayout="column">
          <p>Status : {{status}}</p>
        </div>
      </div>
      <div fxLayout="row wrap">
        <div fxFlex fxLayout="column">
          <p>Origin : {{origin}}</p>
        </div>
      </div>
      <div fxLayout="row wrap">
        <div fxFlex fxLayout="column">
          <p>Location : {{location}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
